/* @font-face {
  font-family: "MS Sans Serif Bold";
  src: url("../assets/fonts/microsoftsansserif.ttf") format("truetype");
}

@font-face {
  font-family: "Saira";
  src: url("../assets/fonts/Saira-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../assets/fonts/PressStart2P-Regular.ttf") format("truetype");
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  top: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}